---
import Drawer from './Drawer.astro'
import './styles.css'
---

<div id='map' class='w-[calc(100%_-_256px)] h-full'></div>
<Drawer />
<script>
    import L from 'leaflet'
    import { data } from './data'

    const drawerToggle = document.querySelector('#drawer-toggle') as HTMLButtonElement
    const zoom = window.innerWidth > 800 ? 14 : 13
    const mymap = L.map('map', { scrollWheelZoom: false }).setView([34.935974, -82.377778], zoom)

    drawerToggle.addEventListener('click', (e: MouseEvent) => {
        setTimeout(() => {
            mymap.invalidateSize()
        }, 100)
    })

    window.addEventListener('DOMContentLoaded', () => {
        if (window.innerWidth < 800) {
            setTimeout(() => {
                mymap.invalidateSize()
            }, 100)
        }
    })

    const popupLinks = document.querySelectorAll('.popup-link')

    const attribution = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'

    const tileUrl = 'https://{s}.tile.openstreetmap.de/tiles/osmde/{z}/{x}/{y}.png'
    const tiles = L.tileLayer(tileUrl, { attribution })
    tiles.addTo(mymap)

    const popupOptions: L.PopupOptions = {
        maxWidth: 500,
        className: 'marker-popup',
        autoPanPaddingTopLeft: [59, 0],
    }

    const circleMarkerOptions: L.CircleMarkerOptions = {
        color: 'red',
        fillColor: '#f03',
        fillOpacity: 0.5,
        radius: 150,
    }

    let markers: L.Circle<any>[] | { openPopup: () => void }[] = []

    for (const location of data) {
        const marker = L.circle([location.coordinates.lat, location.coordinates.lon], circleMarkerOptions).addTo(mymap)

        const popupContent = `
            <div class="text-container">
                <div class="popup-title">${location.title}</div>
                <div class="popup-about">${location.description}</div>
            </div>
            <div class="media-container">
                ${
                    location.mediaType === 'youtube'
                        ? `<iframe src="https://www.youtube.com/embed/${location.mediaUrl}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>`
                        : `<img src="${location.mediaUrl}" alt="${location.title}" />`
                }
            </div>`

        marker.bindPopup(popupContent, popupOptions)
        markers.push(marker)
    }

    popupLinks.forEach(function (link, i) {
        link.addEventListener('click', function (e) {
            e.preventDefault()

            markers[i].openPopup()
        })
    })
</script>
