---
import BaseLayout from '../../../layouts/BaseLayout.astro'
---

<BaseLayout title='Marvel Movies' bgColor='bg-zinc-800' textColor='text-white'>
    <div>
        <nav>
            <div>Marvel Movies <span>in chronological order</span></div>
        </nav>
        <div id='modal' class='modal'>
            <div class='modal-content'>
                <span class='close'>&times;</span>
                <div class='video-container'>
                    <iframe
                        aria-label='video trailer'
                        id='youtube'
                        width='560'
                        height='315'
                        src=''
                        frameborder='0'
                        allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</BaseLayout>

<script>
    // Data
    const movies = [
        {
            id: 'JerVrbLldXw',
            order: 1,
            title: 'Captain America: The First Avenger',
            image: '/marvel-movies/captain-america-first-avenger.jpg',
            summary:
                "It is 1941 and the world is in the throes of war. Steve Rogers (Chris Evans) wants to do his part and join America's armed forces, but the military rejects him because of his small stature. Finally, Steve gets his chance when he is accepted into an experimental program that turns him into a supersoldier called Captain America. Joining forces with Bucky Barnes (Sebastian Stan) and Peggy Carter (Hayley Atwell), Captain America leads the fight against the Nazi-backed HYDRA organization.",
            year: 2011,
            rating: 6.9,
            runtime: '2h 4m',
        },
        {
            id: 'Z1BCujX3pw8',
            order: 2,
            title: 'Captain Marvel',
            image: '/marvel-movies/captain-marvel.jpg',
            summary:
                'Captain Marvel is an extraterrestrial Kree warrior who finds herself caught in the middle of an intergalactic battle between her people and the Skrulls. Living on Earth in 1995, she keeps having recurring memories of another life as U.S. Air Force pilot Carol Danvers. With help from Nick Fury, Captain Marvel tries to uncover the secrets of her past while harnessing her special superpowers to end the war with the evil Skrulls.',
            year: 2019,
            rating: 6.9,
            runtime: '2h 5m',
        },
        {
            id: '8ugaeA-nMTc',
            order: 3,
            title: 'Iron Man',
            image: '/marvel-movies/iron-man.jpg',
            summary:
                'A billionaire industrialist and genius inventor, Tony Stark (Robert Downey Jr.), is conducting weapons tests overseas, but terrorists kidnap him to force him to build a devastating weapon. Instead, he builds an armored suit and upends his captors. Returning to America, Stark refines the suit and uses it to combat crime and terrorism.',
            year: 2008,
            rating: 7.9,
            runtime: '2h 6m',
        },
        {
            id: 'BoohRoVA9WQ',
            order: 4,
            title: 'Iron Man 2',
            image: '/marvel-movies/iron-man-2.jpg',
            summary:
                'With the world now aware that he is Iron Man, billionaire inventor Tony Stark (Robert Downey Jr.) faces pressure from all sides to share his technology with the military. He is reluctant to divulge the secrets of his armored suit, fearing the information will fall into the wrong hands. With Pepper Potts (Gwyneth Paltrow) and &ldquo;Rhodey&rdquo; Rhodes (Don Cheadle) by his side, Tony must forge new alliances and confront a powerful new enemy.',
            year: 2010,
            rating: '7.0',
            runtime: '2h 4m',
        },
        {
            id: 'xbqNb2PFKKA',
            order: 5,
            title: 'The Incredible Hulk',
            image: '/marvel-movies/incredible-hulk.jpg',
            summary:
                'Scientist Bruce Banner (Edward Norton) desperately seeks a cure for the gamma radiation that contaminated his cells and turned him into The Hulk. Cut off from his true love Betty Ross (Liv Tyler) and forced to hide from his nemesis, Gen. Thunderbolt Ross (William Hurt), Banner soon comes face-to-face with a new threat: a supremely powerful enemy known as The Abomination (Tim Roth).',
            year: 2008,
            rating: 6.7,
            runtime: '2h 15m',
        },
        {
            id: 'JOddp-nlNvQ',
            order: 6,
            title: 'Thor',
            image: '/marvel-movies/thor.jpg',
            summary:
                "As the son of Odin (Anthony Hopkins), king of the Norse gods, Thor (Chris Hemsworth) will soon inherit the throne of Asgard from his aging father. However, on the day that he is to be crowned, Thor reacts with brutality when the gods' enemies, the Frost Giants, enter the palace in violation of their treaty. As punishment, Odin banishes Thor to Earth. While Loki (Tom Hiddleston), Thor's brother, plots mischief in Asgard, Thor, now stripped of his powers, faces his greatest threat.",
            year: 2011,
            rating: '7.0',
            runtime: '1h 55m',
        },
        {
            id: 'eOrNdBpGMv8',
            order: 7,
            title: 'The Avengers',
            image: '/marvel-movies/avengers.jpg',
            summary:
                "When Thor's evil brother, Loki (Tom Hiddleston), gains access to the unlimited power of the energy cube called the Tesseract, Nick Fury (Samuel L. Jackson), director of S.H.I.E.L.D., initiates a superhero recruitment effort to defeat the unprecedented threat to Earth. Joining Fury's &ldquo;dream team&rdquo; are Iron Man (Robert Downey Jr.), Captain America (Chris Evans), the Hulk (Mark Ruffalo), Thor (Chris Hemsworth), the Black Widow (Scarlett Johansson) and Hawkeye (Jeremy Renner).",
            year: 2012,
            rating: '8.0',
            runtime: '2h 24m',
        },
        {
            id: 'Ke1Y3P9D0Bc',
            order: 8,
            title: 'Iron Man 3',
            image: '/marvel-movies/iron-man-3.jpg',
            summary:
                'Plagued with worry and insomnia since saving New York from destruction, Tony Stark (Robert Downey Jr.), now, is more dependent on the suits that give him his Iron Man persona -- so much so that every aspect of his life is affected, including his relationship with Pepper (Gwyneth Paltrow). After a malevolent enemy known as the Mandarin (Ben Kingsley) reduces his personal world to rubble, Tony must rely solely on instinct and ingenuity to avenge his losses and protect the people he loves.',
            year: 2013,
            rating: 7.2,
            runtime: '2h 11m',
        },
        {
            id: 'npvJ9FTgZbM',
            order: 9,
            title: 'Thor: Dark World',
            image: '/marvel-movies/thor-the-dark-world.jpg',
            summary:
                'In ancient times, the gods of Asgard fought and won a war against an evil race known as the Dark Elves. The survivors were neutralized, and their ultimate weapon -- the Aether -- was buried in a secret location. Hundreds of years later, Jane Foster (Natalie Portman) finds the Aether and becomes its host, forcing Thor (Chris Hemsworth) to bring her to Asgard before Dark Elf Malekith (Christopher Eccleston) captures her and uses the weapon to destroy the Nine Realms -- including Earth.',
            year: 2013,
            rating: 6.9,
            runtime: '1h 52m',
        },
        {
            id: 'tbayiPxkUMM',
            order: 10,
            title: 'Captain America: Winter Soldier',
            image: '/marvel-movies/captain-america-the-winter-soldier.jpg',
            summary:
                "After the cataclysmic events in New York with his fellow Avengers, Steve Rogers, aka Captain America (Chris Evans), lives in the nation's capital as he tries to adjust to modern times. An attack on a S.H.I.E.L.D. colleague throws Rogers into a web of intrigue that places the whole world at risk. Joining forces with the Black Widow (Scarlett Johansson) and a new ally, the Falcon, Rogers struggles to expose an ever-widening conspiracy, but he and his team soon come up against an unexpected enemy.",
            year: 2014,
            rating: 7.7,
            runtime: '2h 16m',
        },
        {
            id: 'd96cjJhvlMA',
            order: 11,
            title: 'Guardians of the Galaxy',
            image: '/marvel-movies/guardians-of-the-galaxy.jpg',
            summary:
                "Brash space adventurer Peter Quill (Chris Pratt) finds himself the quarry of relentless bounty hunters after he steals an orb coveted by Ronan, a powerful villain. To evade Ronan, Quill is forced into an uneasy truce with four disparate misfits: gun-toting Rocket Raccoon, treelike-humanoid Groot, enigmatic Gamora, and vengeance-driven Drax the Destroyer. But when he discovers the orb's true power and the cosmic threat it poses, Quill must rally his ragtag group to save the universe.",
            year: 2014,
            rating: '8.0',
            runtime: '2h 5m',
        },
        {
            id: 'wUn05hdkhjM',
            order: 12,
            title: 'Guardians of the Galaxy Vol. 2',
            image: '/marvel-movies/guardians-of-the-galaxy-vol-2.jpg',
            summary:
                "Peter Quill and his fellow Guardians are hired by a powerful alien race, the Sovereign, to protect their precious batteries from invaders. When it is discovered that Rocket has stolen the items they were sent to guard, the Sovereign dispatch their armada to search for vengeance. As the Guardians try to escape, the mystery of Peter's parentage is revealed.",
            year: 2017,
            rating: 7.6,
            runtime: '2h 18m',
        },
        {
            id: 'JAUoeqvedMo',
            order: 13,
            title: 'Avengers: Age of Ultron',
            image: '/marvel-movies/avengers-age-of-ultron.jpg',
            summary:
                'When Tony Stark (Robert Downey Jr.) jump-starts a dormant peacekeeping program, things go terribly awry, forcing him, Thor (Chris Hemsworth), the Incredible Hulk (Mark Ruffalo) and the rest of the Avengers to reassemble. As the fate of Earth hangs in the balance, the team is put to the ultimate test as they battle Ultron, a technological terror hell-bent on human extinction. Along the way, they encounter two mysterious and powerful newcomers, Pietro and Wanda Maximoff.',
            year: 2015,
            rating: 7.3,
            runtime: '2h 22m',
        },
        {
            id: 'pWdKf3MneyI',
            order: 14,
            title: 'Ant-Man',
            image: '/marvel-movies/ant-man.jpg',
            summary:
                'Forced out of his own company by former protégé Darren Cross, Dr. Hank Pym (Michael Douglas) recruits the talents of Scott Lang (Paul Rudd), a master thief just released from prison. Lang becomes Ant-Man, trained by Pym and armed with a suit that allows him to shrink in size, possess superhuman strength and control an army of ants. The miniature hero must use his new skills to prevent Cross, also known as Yellowjacket, from perfecting the same technology and using it as a weapon for evil.',
            year: 2015,
            rating: 7.3,
            runtime: '1h 58m',
        },
        {
            id: 'dKrVegVI0Us',
            order: 15,
            title: 'Captain America: Civil War',
            image: '/marvel-movies/captain-america-civil-war.jpg',
            summary:
                'Political pressure mounts to install a system of accountability when the actions of the Avengers lead to collateral damage. The new status quo deeply divides members of the team. Captain America (Chris Evans) believes superheroes should remain free to defend humanity without government interference. Iron Man (Robert Downey Jr.) sharply disagrees and supports oversight. As the debate escalates into an all-out feud, Black Widow (Scarlett Johansson) and Hawkeye (Jeremy Renner) must pick a side.',
            year: 2016,
            rating: 7.8,
            runtime: '2h 28m',
        },
        {
            id: '39udgGPyYMg',
            order: 16,
            title: 'Spider-Man: Homecoming',
            image: '/marvel-movies/spider-man-homecoming.jpg',
            summary:
                'Thrilled by his experience with the Avengers, young Peter Parker returns home to live with his Aunt May. Under the watchful eye of mentor Tony Stark, Parker starts to embrace his newfound identity as Spider-Man. He also tries to return to his normal daily routine -- distracted by thoughts of proving himself to be more than just a friendly neighborhood superhero. Peter must soon put his powers to the test when the evil Vulture emerges to threaten everything that he holds dear.',
            year: 2017,
            rating: 7.4,
            runtime: '2h 13m',
        },
        {
            id: 'HSzx-zryEgM',
            order: 17,
            title: 'Doctor Strange',
            image: '/marvel-movies/doctor-strange.jpg',
            summary:
                "Dr. Stephen Strange's (Benedict Cumberbatch) life changes after a car accident robs him of the use of his hands. When traditional medicine fails him, he looks for healing, and hope, in a mysterious enclave. He quickly learns that the enclave is at the front line of a battle against unseen dark forces bent on destroying reality. Before long, Strange is forced to choose between his life of fortune and status or leave it all behind to defend the world as the most powerful sorcerer in existence.",
            year: 2016,
            rating: 7.5,
            runtime: '1h 55m',
        },
        {
            id: 'xjDjIWPwcPU',
            order: 18,
            title: 'Black Panther',
            image: '/marvel-movies/black-panther.jpg',
            summary:
                "After the death of his father, T'Challa returns home to the African nation of Wakanda to take his rightful place as king. When a powerful enemy suddenly reappears, T'Challa's mettle as king -- and as Black Panther -- gets tested when he's drawn into a conflict that puts the fate of Wakanda and the entire world at risk. Faced with treachery and danger, the young king must rally his allies and release the full power of Black Panther to defeat his foes and secure the safety of his people.",
            year: 2018,
            rating: 7.3,
            runtime: '2h 15m',
        },
        {
            id: 'ue80QwXMRHg',
            order: 19,
            title: 'Thor: Ragnarok',
            image: '/marvel-movies/thor-ragnarok.jpg',
            summary:
                "Imprisoned on the other side of the universe, the mighty Thor finds himself in a deadly gladiatorial contest that pits him against the Hulk, his former ally and fellow Avenger. Thor's quest for survival leads him in a race against time to prevent the all-powerful Hela from destroying his home world and the Asgardian civilization.",
            year: 2017,
            rating: 7.9,
            runtime: '2h 10m',
        },
        {
            id: '6ZfuNTqbHE8',
            order: 20,
            title: 'Avengers: Infinity War',
            image: '/marvel-movies/avengers-infinity-war.jpg',
            summary:
                'Iron Man, Thor, the Hulk and the rest of the Avengers unite to battle their most powerful enemy yet -- the evil Thanos. On a mission to collect all six Infinity Stones, Thanos plans to use the artifacts to inflict his twisted will on reality. The fate of the planet and existence itself has never been more uncertain as everything the Avengers have fought for has led up to this moment.',
            year: 2018,
            rating: 8.4,
            runtime: '2h 40m',
        },
        {
            id: 'UUkn-enk2RU',
            order: 21,
            title: 'Ant-Man and The Wasp',
            image: '/marvel-movies/ant-man-and-the-wasp.jpg',
            summary:
                'Scott Lang is grappling with the consequences of his choices as both a superhero and a father. Approached by Hope van Dyne and Dr. Hank Pym, Lang must once again don the Ant-Man suit and fight alongside the Wasp. The urgent mission soon leads to secret revelations from the past as the dynamic duo finds itself in an epic battle against a powerful new enemy.',
            year: 2018,
            rating: 7.1,
            runtime: '2h 5m',
        },
        {
            id: 'TcMBFSGVi1c',
            order: 22,
            title: 'Avengers: Endgame',
            image: '/marvel-movies/avengers-endgame.jpg',
            summary:
                'Adrift in space with no food or water, Tony Stark sends a message to Pepper Potts as his oxygen supply starts to dwindle. Meanwhile, the remaining Avengers -- Thor, Black Widow, Captain America and Bruce Banner -- must figure out a way to bring back their vanquished allies for an epic showdown with Thanos -- the evil demigod who decimated the planet and the universe.',
            year: 2019,
            rating: 8.4,
            runtime: '3h 2m',
        },
        {
            id: 'Nt9L1jCKGnE',
            order: 23,
            title: 'Spider-Man: Far From Home',
            image: '/marvel-movies/spider-man-far-from-home.jpg',
            summary:
                "Peter Parker's relaxing European vacation takes an unexpected turn when Nick Fury shows up in his hotel room to recruit him for a mission. The world is in danger as four massive elemental creatures -- each representing Earth, air, water and fire -- emerge from a hole torn in the universe. Parker soon finds himself donning the Spider-Man suit to help Fury and fellow superhero Mysterio stop the evil entities from wreaking havoc across the continent.",
            year: 2019,
            rating: 7.5,
            runtime: '2h 9m',
        },
        {
            id: 'ybji16u608U',
            order: 24,
            title: 'Black Widow',
            image: '/marvel-movies/black-widow.jpg',
            summary:
                'Natasha Romanoff, aka Black Widow, confronts the darker parts of her ledger when a dangerous conspiracy with ties to her past arises. Pursued by a force that will stop at nothing to bring her down, Natasha must deal with her history as a spy, and the broken relationships left in her wake long before she became an Avenger.',
            year: 2021,
            rating: 6.9,
            runtime: '2h 14m',
        },
    ]
    // End Data

    // Create movie boxes
    const container = document.createElement('div')
    container.classList.add('container')

    movies.forEach((movie, i) => {
        const movieBox = document.createElement('div')
        movieBox.classList.add('movie-box')
        movieBox.innerHTML = `
    <div class="movie-content">
      <div class="movie-front">
        <div class="img-container">
            <img src="${movies[i].image}" alt="" />
            ${movies[i].order < 10 ? `<div class="img-text single">${movies[i].order}</div>` : `<div class="img-text">${movies[i].order}</div>`}
        </div>
      </div>
      <div class="movie-back">
        <h3>${movies[i].title}</h3>
        <div class="subtitle">
            ${movies[i].order < 10 ? `<span class="order single">#${movies[i].order}</span>` : `<span class="order">#${movies[i].order}</span>`}
          <span class="rating">${movies[i].rating}</span>
          <span class="runtime">${movies[i].runtime}</span>
          <button id="${movies[i].id}" class="modal-link">Trailer</button>
        </div>
        <div>${movies[i].summary}</div>
      </div>
    </div>
    `
        container.appendChild(movieBox)
        document.body.appendChild(container)
    })

    // Modal
    const modal = document.getElementById('modal') as HTMLElement
    const youtube = document.getElementById('youtube') as HTMLElement
    const modalLinks = document.querySelectorAll('.modal-link') as NodeListOf<Element>
    modalLinks.forEach((modalLink) => {
        modalLink.addEventListener('click', (e) => {
            const trigger = e.target as Element
            const modalId = trigger.getAttribute('id')
            youtube.setAttribute('src', `https://www.youtube.com/embed/${modalId}`)
            modal.classList.add('visible')
        })
    })

    // Close Modal
    const close = document.querySelector('.close') as HTMLElement
    close.addEventListener('click', () => {
        modal.classList.remove('visible')

        let video = youtube.getAttribute('src')!
        youtube.setAttribute('src', '')
        youtube.setAttribute('src', video)
    })

    window.addEventListener('click', (e) => {
        if (e.target == modal) {
            modal.classList.remove('visible')
            let video = youtube.getAttribute('src')!
            youtube.setAttribute('src', '')
            youtube.setAttribute('src', video)
        }
    })
</script>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

    body {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
    }

    nav {
        background-color: #ed1d24;
        color: #fff;
        font-size: 2rem;
        display: flex;
        align-items: center;
        padding: 1rem;
        width: 100%;
        box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.75);
    }

    nav div {
        margin-left: auto;
    }

    nav span {
        font-size: 1rem;
        background-color: #333;
        color: #fff;
        margin-left: 0.5rem;
        padding: 0.25rem 0.5rem;
        border-radius: 4px;
        box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.75);
    }

    .container {
        margin: 0 auto;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .movie-box {
        background-color: transparent;
        width: 300px;
        height: 450px;
        margin: 0.5rem;
        perspective: 1000px;
    }

    .movie-content {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.75);
        border-radius: 10px;
    }

    .movie-box:hover .movie-content {
        transform: rotateY(180deg);
    }

    .movie-box:hover .img-text {
        display: none;
    }

    .movie-front,
    .movie-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }

    .movie-front {
        width: 100%;
        border-radius: 10px;
    }

    .img-container {
        position: relative;
        text-align: center;
    }

    .movie-front img {
        width: 300px;
        height: 450px;
        border-radius: 10px;
    }

    .img-text {
        position: absolute;
        top: 8px;
        left: 16px;
        background-color: #222;
        color: #fff;
        padding: 10px;
        border-radius: 50%;
    }

    .img-text.single {
        padding: 10px 15px;
    }

    .movie-back {
        transform: rotateY(180deg);
        padding: 0 1rem;
        color: #fff;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border: #ed1d24 inset 3px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .movie-back h3 {
        margin-bottom: 1rem;
    }

    .movie-back .subtitle {
        margin-bottom: 1rem;
    }

    .movie-back span {
        margin: 0 0.25rem;
    }

    .movie-back .order {
        background-color: #fff;
        color: #ed1d24;
        border-radius: 50%;
        padding: 0.5rem;
    }

    .movie-back .order.single {
        padding: 0.5rem 0.75rem;
    }

    .movie-back .rating {
        background-color: #ed1d24;
        border-radius: 50%;
        padding: 0.5rem;
    }

    .movie-back .runtime {
        background-color: #fff;
        color: #ed1d24;
        border-radius: 15px;
        padding: 0.5rem 0.75rem;
    }

    .movie-back button {
        background-color: #ed1d24;
        color: #fff;
        font-size: inherit;
        font-family: inherit;
        border-radius: 15px;
        padding: 0.5rem 0.75rem;
        border: none;
        cursor: pointer;
    }

    .movie-back button:focus {
        outline: none;
    }

    /* Modal */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 75px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal.visible {
        display: block;
    }

    .modal-content {
        margin: auto;
        width: min(1200px, 100%);
    }

    .close {
        color: #fff;
        position: fixed;
        top: -10px;
        right: 22px;
        font-size: 4rem;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        cursor: pointer;
    }

    /* Embed */
    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    @media (max-device-width: 1200px) and (orientation: landscape) {
        .modal {
            padding-top: 0;
        }
        .video-container iframe {
            height: 100vh;
        }
    }

    @media (max-width: 600px) {
        .modal {
            padding-top: calc(50vh - 116px);
        }
        .modal-content {
            width: 100%;
        }
        nav {
            flex-direction: column;
            font-size: 3rem;
        }
        nav span {
            margin-top: 0.5rem;
        }
    }
</style>
